<%= div_for shout do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to shout.user.username, shout.user %> shouted at <%= link_to time_ago_in_words(shout.created_at), shout %></h3>
    </div>
    <div class="panel-body">
      <div class="media">
        <a class="pull-left" href="#">
          <%= gravatar shout.user %>
        </a>
        <div class="media-body">
          <%# render the specific instance to its current view directory, file name witg a _ preposition. %>
          <%# the reason why it "specific" is our shout model has polymorphic %>
          <%# http://www.cnblogs.com/lwm-1988/archive/2011/09/13/2175041.html %>
          <%= render shout.content %>
        </div>
      </div>
    </div>
  </div>
<% end %>